* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.main {
  background: url("./images/70BC48A9-B2F1-4D3D-AAC4-129466DD8111.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 540px;
  color: white;
  padding: 20px 30px 0px 30px;
  margin-bottom: 35px;
}

.entrance {
  width: 100%;
  margin-bottom: 25px;
}

.entrance_links {
  display: flex;
  justify-content: center;
}

.signup_link,
.login_link {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 14px;
  width: 90px;
  padding: 7px 0px;
  text-align: center;
}

.signup_link {
  border: 2px solid white;
  border-radius: 15px;
}

.title {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.slogan {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}

.slogan_additionalText {
  font-size: 17px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 15px;
}

.partner_link {
  border-radius: 15px;
  font-size: 14px;
  padding: 12px 0px;
  width: 280px;
  text-align: center;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.link__red {
  color: white;
  background-color: #ff4e50;
  border: none;
}

.signup {
  border: 2px solid white;
  border-radius: 15px;
}

.workSpecifics {
  margin-bottom: 35px;
}

.workSpecifics_list {
  padding: 0px 10px;
}
.heading {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}

.workSpecifics_list-item {
  height: 240px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workSpecifics_list-item:last-child {
  margin-bottom: 0;
}
.step_text {
  text-transform: uppercase;
  background-color: #ff4e50;
  width: 70px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  padding: 3px 0px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.step-one {
  background: url("./images/step1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.step-two {
  background: url("./images/step2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.step-three {
  background: url("./images/step3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.workSpecifics_list-item_title {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.workSpecifics_text {
  color: white;
  font-size: 15px;
}

.meetPartner_list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
}

.meetPartner_image {
  width: 100%;
}

.meetPartner_name {
  margin-bottom: 15px;
}

.meetPartner_about {
  text-align: center;
  font-size: 14px;
  color: #666666;
}

.meetPartner_imageContainer {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 15px;
}

.meetPartner_iconContainer {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.meetPartner_iconContainer__red {
  background-color: #ff4e50;
}

.meetPartner_iconContainer__blue {
  background-color: #19d4ca;
}

.meetPartner_iconContainer__yellow {
  background-color: #ffa710;
}

.meetPartner_iconContainer__purple {
  background-color: #667df3;
}
