* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  background: url("./images/70BC48A9-B2F1-4D3D-AAC4-129466DD8111.png");
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 540px;
  color: white;
  padding: 0px 30px;
  margin-bottom: 35px;
}

.main__entrance {
  margin-bottom: 25px;
  margin-top: 20px;
}

.main__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 0px auto;
}

.entrance__links {
  display: flex;
  justify-content: center;
}

.signup-button,
.login-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 14px;
  width: 90px;
  padding: 7px 0px;
  text-align: center;
}

.signup-button {
  border: 2px solid white;
  border-radius: 15px;
}

.main__title {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.main__slogan {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 29px;
  margin-bottom: 20px;
}

.main__additional-text {
  font-size: 17px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 15px;
}

.button_primary {
  border-radius: 15px;
  font-size: 14px;
  padding: 12px 0px;
  width: 280px;
  text-align: center;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.button_red {
  color: white;
  background-color: #ff4e50;
  border: none;
}

.work-specifics {
  margin-bottom: 35px;
}

.work-specifics__list {
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
}
.title__secondary {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 15px;
}

.work-specifics__list-item {
  height: 240px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workSpecifics_list-item:last-child {
  margin-bottom: 0;
}
.work-specifics__list-item__step {
  text-transform: uppercase;
  background-color: #ff4e50;
  width: 70px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 10px;
  padding: 3px 0px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.work-specifics__list-item:first-child {
  background: url("./images/step1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.work-specifics__list-item:nth-child(2) {
  background: url("./images/step2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.work-specifics__list-item:nth-child(3) {
  background: url("./images/step3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.work-specifics__list-item__title {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.work-specifics__list-item__text {
  color: white;
  font-size: 15px;
}

.meet-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.meet-partner__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.meet-partner__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 235px;
  padding: 15px 0px;
}

.image-container__image {
  width: 100%;
}

.meet-partner__name {
  margin-bottom: 15px;
}

.meet-partner__about {
  text-align: center;
  font-size: 14px;
  color: #666666;
}

.image-container {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 15px;
}

.meet-partner__icon-container {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.icon-container_red {
  background-color: #ff4e50;
}

.icon-container_blue {
  background-color: #19d4ca;
}

.icon-container_yellow {
  background-color: #ffa710;
}

.icon-container_purple {
  background-color: #667df3;
}

.button_white {
  color: #ff4e50;
  background-color: transparent;
  border: 2px solid #ff4e50;
}

.discovery-ideas {
  margin-bottom: 35px;
}

.discovery-ideas__list {
  padding: 0px 10px;
}

.discovery-ideas__list-item {
  min-height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.discovery-ideas__list-item__title {
  font-size: 22px;
  color: white;
  font-weight: normal;
  text-align: center;
}

.discovery-ideas__list-item:first-child {
  background: url("./images/idea1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery-ideas__list-item:last-child {
  margin-bottom: 0px;
}

.discovery-ideas__list-item:nth-child(2) {
  background: url("./images/idea2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery-ideas__list-item:nth-child(3) {
  background: url("./images/idea3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery-ideas__list-item:nth-child(4) {
  background: url("./images/idea4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery-ideas__list-item:nth-child(5) {
  background: url("./images/idea5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery-ideas__list-item:nth-child(6) {
  background: url("./images/idea6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.discovery-ideas__list-item:nth-child(7) {
  background: url("./images/idea7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-partners__form {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 40px;
}
.search-partners__text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  opacity: 0.5;
}

.search-partners__input {
  width: 280px;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  margin-bottom: 10px;
}

.footer {
  border-top: 2px solid #ff4e50;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.footer__title {
  text-transform: uppercase;
  color: #ff4e50;
  font-size: 15px;
  margin-bottom: 15px;
}

.footer__list__name {
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.footer__list-item__link {
  font-size: 13px;
  opacity: 0.5;
}

.design__text {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
  opacity: 0.3;
}

.footer__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.footer__list-item {
  padding: 5px 10px;
}

@media (min-width: 768px) {
  .main {
    height: 700px;
    margin-bottom: 95px;
  }

  .main__entrance {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 40px;
    margin-bottom: 150px;
  }
  .main__title {
    font-size: 19px;
    margin-top: 0;
    width: auto;
  }

  .main__slogan {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .main__additional-text {
    font-size: 24px;
    margin-bottom: 35px;
  }

  .button_primary {
    width: 225px;
  }
  .work-specifics__list {
    flex-wrap: nowrap;
  }
  .work-specifics__list-item {
    height: 400px;
    margin-right: 20px;
  }
  .work-specifics__list-item:last-child {
    margin-right: 0;
  }

  .meet-partner__list {
    padding: 0px 140px;
  }

  .meet-partner .button_primary {
    width: 180px;
    border-radius: 20px;
  }
}
